body {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

section.container {

}


div.page-wrapper {

}



div.header-img {
    display: flex;
    justify-content: center;

}

 img {
     aspect-ratio: 4/2;
     max-width: 50%;
 }

button {
    background-color: red;
    padding: 1rem 6rem;
    border-color: lightgray;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
}

div.column.heading {
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style-type: none;
    line-height: 2.0;
    margin: 1rem;
    padding: 1rem 8rem;
    border: 1px solid rebeccapurple;
    background-color: #009FBD;
}

@media screen and (min-width: 992px) and (min-width: 1200px) {
    div.alert-info {
        display: none;
    }

    nav.nav-bar ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
    }

    div.row.nav {
        justify-content: end;
    }

    ul.nav-links li {
        border: unset;
        background-color: unset;
        margin: 0;

    }

   div.main-text {
        max-width: 50%;
    }
   div.sub-text {
       max-width: 50%;
   }
   div.text-boxes {
       flex-direction: row;
   }

    /* ul.nav-links {*/
    /*      border:1px;*/
    /*      margin: 1px;*/
    /*      padding: 1px;*/
    /*     display: flex;*/
    /*     flex-direction: row;*/
    /*     justify-content: unset;*/
    /*  }*/
    /*ul li {*/
    /*       border: unset;*/
    /*       background-color: unset;*/
    /*      margin: 0;*/
    /*      padding: 1rem;*/
    /*   }*/

}



@media screen and (min-width: 1200px)
{
    div.alert-info {
        display: none;
    }
    nav.nav-bar ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
    }
    div.row.nav {
        justify-content: end;
    }
    ul.nav-links li {
        border: unset;
        background-color: unset;
        margin: 0;
        padding: 2rem;
    }}